.createIngredients-barrier {
  border-top: 2px solid #00120b;
  margin: 10px;
}

.createIngredients-title {
  text-align: center;
  font-size: 24px;
  padding: 10px;
}

.createIngredients-list {
  text-align: center;
  padding: 10px;
}

.createIngredients-list ul {
  list-style-type: none;
  padding: 0;
}

.createIngredients-list li {
  list-style-type: none;
  font-size: 20px;
  padding: 5px;
  color: #00120b;
}
